.maindiv {
  margin-top: 40px;
  text-align: center;
  font-family: Roboto Slab;
  margin-left: 70px;
  width: 40%;
}
.maindiv1 {
  font-family: Roboto Slab;

  width: 50%;
}
.mainhome {
  display: flex;
  width: 100%;
}
.header {
  margin-bottom: 60px;
  margin-top: 0px;
  color: #101e7a;
  text-align: left;
}
.mainlist {
  text-align: left;
  font-family: Roboto Slab;
  border-style: solid;
  border-width: 1px;

  width: 37%;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: large;
  background-color: #0169fe;
  color: white;
  padding-left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-color: #0169fe;
}
.icondes {
  position: absolute;
  left: 290px;
  margin-bottom: 9px;
}
.icondes1 {
  position: absolute;
  right: 640px;
  margin-bottom: 9px;
}
@media (max-width: 1557px) {
  .icondes {
    position: absolute;
    left: 220px;
    margin-bottom: 9px;
  }
  .icondes1 {
    position: absolute;
    right: 560px;
    margin-bottom: 9px;
  }
  .mainlist {
    font-size: 16px;
  }
}
@media (max-width: 1302px) {
  .icondes1 {
    position: absolute;
    right: 320px;
    margin-bottom: 9px;
  }
}
